<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="row p-3">
    <div class="col-sm-12 col-md-6 my-2">
        <div class="card">
            <% if @pet.photos.count > 1 %>
                <%= carousel_for(@pet.photos) %> 
            <% else %>
              <%= image_tag (@pet.photos.first),  class: "card-img-top rounded-lg" %>
            <% end %>
        </div>
    </div>
    <div class="show-pet-info rounded-lg col-sm-12 col-md-6 my-2 p-4">
      <div class="header-pet border-bottom row p-1 mb-3">
        <div class="col-9">
          <h2> <%= @pet.name %>,  <small>(<%= @pet.age %>)</small></h2>
          <p>
            <strong>Publicada por:</strong>
            <%= @pet.user.username %>, <%= @pet.created_at.strftime("%d/%m/%Y") %>
          </p>
        
        </div>
        <div class="col-3">
          <% if user_signed_in? %>
            <% if @pet.user_id != current_user.id %>
              <%= link_to 'Adoptar', new_postulation_pet_path(pet_id: @pet.id), class: "btn btn-primary" %>
            <% elsif @pet.user_id == current_user.id %>
              <%= link_to 'Edit', edit_pet_path(@pet), class: "btn btn-outline-secondary rounded-pill float-right" %> 
              <%= link_to 'Destroy', @pet, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
            
          <% end %>
            
        </div>
        <% if user_signed_in? %>
          <% if  @pet.user_id == current_user.id %>
            <div class="col-12">
              <%= link_to "#{@pet.postulation_pets.count} Postulaciones", pet_postulation_path(pet_id: @pet.id), class: "btn btn-primary rounded-pill w-100"  %>
            </div>
          <% end %>
        
        <% end %>
        
        
      </div>
      <div class="content-pet">
          <p>
            <strong>Sex</strong>
            <% if @pet.sex != "" %>
                <%= @pet.sex %>
            <% else %>
                <i>Sin especificar </i>
            <% end %>
          </p>
        
          <p>
            <strong>Size</strong>
            <% if @pet.size != "" %>
              <%= @pet.size %>
            <% else %>
              <i>Sin especificar </i>
            <% end %>
          </p>
        
          <p>
            <strong>Breed</strong>
            <% if @pet.breed != "" %>
              <%= @pet.breed %>
            <% else %>
              <i>Sin especificar </i>
            <% end %>
          </p>
        
          <p>
            <strong>History</strong>
            <% if @pet.history != "" %>
              <%= @pet.history %>
            <% else %>
              <i>Sin especificar </i>
            <% end %>
          </p>
        
      </div>
     

      
    
    </div>
  </div> <!--/row-->
</div>