<p id="notice"><%= notice %></p>

<div class="col-sm-4 col-md-3 my-2">
    <div class="card">

        <% if @pet.photos.count > 1 %>
            <%= carousel_for(@pet.photos) %> 
        <% else %>
            <% @pet.photos.each do |photo| %>
            <%= image_tag (photo),  class: "card-img-top" %>
            <% end %>
        <% end %>
    
        
        <div class="card-body">
            <h5 class="card-title"><%= @pet.name %></h5>
            <p class="card-text"> <%= @pet.history %></p>
        </div>
    </div>
</div>

<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>History:</strong>
  <%= @pet.history %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @pet.sex %>
</p>

<p>
  <strong>Size:</strong>
  <%= @pet.size %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @pet.breed %>
</p>


<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
