

<div class="col-sm-4 col-md-3 my-2 ">
    <div class="card">

        <% if pet.photos.count > 1 %>
            <%= carousel_for(pet.photos) %> 
        <% else %>
            <%= image_tag (pet.photos.first),  class: "card-img-top rounded-lg" %>
        <% end %>

        <% if pet.is_adopted == true %>
            <span class="chip done"> adoptado</span>
        <% end %>
        
        <div class="card-body">
            <h5 class="card-title"><%= pet.name %>, <small>(<%= pet.age %>)</small></h5>
            <p class="card-text"> <%= pet.user.username %></p>
            
            <%= link_to 'Ver más', pet, class: "btn btn-primary" %>
            <% if user_signed_in? && (pet.user_id != current_user.id) %>
                <% if pet.hasPostulation(current_user.id, pet.id)  %>
                    <%= link_to 'Postulando', my_postulations_path, class: "btn btn-success" %>
                
                <% else %>
                <%= link_to 'Adoptar', new_postulation_pet_path(pet_id: pet.id), class: "btn btn-primary" %>
                <% end %>
                

            <% end %>
            <% if user_signed_in? && (pet.user_id == current_user.id || current_user.is_admin? )%>
                <%= link_to "#{pet.postulation_pets.count} Postulaciones", pet_postulation_path(pet_id: pet.id), class: "btn btn-outline-info mt-2 w-100 rounded-pill"  %>
            <% end %>
             
            
        </div>
    </div>
</div>