

<div class="col-sm-4 col-md-3 my-2 rounded-lg">
    <div class="card">

        <% if pet.photos.count > 1 %>
            <%= carousel_for(pet.photos) %> 
        <% else %>
            <%= image_tag (pet.photos.first),  class: "card-img-top" %>
        <% end %>
    
        
        <div class="card-body">
            <h5 class="card-title"><%= pet.name %></h5>
            <p class="card-text"> <%= pet.history %></p>
            <%= link_to 'Ver más', pet, class: "btn btn-primary" %>
            <%= link_to 'Adoptar', new_postulation_pet_path(pet_id: pet.id), class: "btn btn-primary" %>
            <%= link_to 'Postulaciones', pet_postulation_path(pet_id: pet.id) %>

        </div>
    </div>
</div>