<%= form_with(model: postulation_pet, local: true) do |form| %>
  <% if postulation_pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(postulation_pet.errors.count, "error") %> prohibited this postulation_pet from being saved:</h2>

      <ul>
      <% postulation_pet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <%= form.hidden_field :pet_id %>
  <%= form.hidden_field :user_id %>
  <%= form.hidden_field :state %>

  <% @questions.each do |question| %>
    <div class="field">
      <%= question.text %>
      <%= form.fields_for "answer_pets[]", question.answer_pets.build do |answer_form| %>
          <%= answer_form.hidden_field :question_id, value: question.id %>
          <%= answer_form.text_field :text, value: @postulation_pet.getAnswer(@postulation_pet.id , question.id) %>
      <% end %>
     </div>
  <% end %>




   

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
